/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "wofi.css", dst = "~/.config/wofi/colors.css" }
 */

:root {
    --wallpaper: url("/home/p1zz4f1ght3r/Pictures/Wallpapers/Dark/undefined - Imgur.webp");

    /* Special */
    --background: #050505;
    --foreground: #ABABAB;
    --cursor: #BCA38C;

    /* Colors */
    --color0:  #4E4D47;
    --color1:  #464646;
    --color2:  #647D6C;
    --color3:  #927560;
    --color4:  #749478;
    --color5:  #CD9A6D;
    --color6:  #EFEBCA;
    --color7:  #7F7F7F;
    --color8:  #595959;
    --color9:  #464646;
    --color10: #647D6C;
    --color11: #927560;
    --color12: #749478;
    --color13: #CD9A6D;
    --color14: #EFEBCA;
    --color15: #7F7F7F;
}
