/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "wofi.css", dst = "~/.config/wofi/colors.css" }
 */

:root {
    --wallpaper: url("/home/p1zz4f1ght3r/Pictures/Wallpapers/Dark/wallpaper.webp");

    /* Special */
    --background: #03030E;
    --foreground: #A9AAB6;
    --cursor: #A19FCE;

    /* Colors */
    --color0:  #3C323B;
    --color1:  #41425E;
    --color2:  #5D5DA0;
    --color3:  #8D6B8C;
    --color4:  #8868CB;
    --color5:  #9894E5;
    --color6:  #D99ED3;
    --color7:  #7C7D8F;
    --color8:  #575764;
    --color9:  #41425E;
    --color10: #5D5DA0;
    --color11: #8D6B8C;
    --color12: #8868CB;
    --color13: #9894E5;
    --color14: #D99ED3;
    --color15: #7C7D8F;
}
