/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "wofi.css", dst = "~/.config/wofi/colors.css" }
 */

:root {
    --wallpaper: url("/home/p1zz4f1ght3r/Pictures/Wallpapers/Dark/a_painting_of_a_man_with_a_face_on_his_head.webp");

    /* Special */
    --background: #0E0D0C;
    --foreground: #B6B5B4;
    --cursor: #B2A596;

    /* Colors */
    --color0:  #373634;
    --color1:  #5E5B59;
    --color2:  #797670;
    --color3:  #8B7C6D;
    --color4:  #878275;
    --color5:  #AD9678;
    --color6:  #B6B2A6;
    --color7:  #8E8D8B;
    --color8:  #646261;
    --color9:  #5E5B59;
    --color10: #797670;
    --color11: #8B7C6D;
    --color12: #878275;
    --color13: #AD9678;
    --color14: #B6B2A6;
    --color15: #8E8D8B;
}
