* {
    color: #B0B1B1;
    background: #080A0A;
    border: none;
    border-radius: 10px;
}

.monitor {
    padding: 10px 6px;
}

.workspace {
    margin: 0 4px;
}

.index {
    color: #747271;
    background: #080A0A;
    border-radius: 10px;
    padding: 3px;
}

.client {
    border-radius: var(--border-radius);
    background-color: var(--background);
    border: 3px solid var(--border-color);
}

.client_active {
    border: 3px solid #9CB3AB;
}
